version: '3.8'
services:
  db:
    image: postgres:15-alpine
    container_name: mailbox_db
    environment:
      POSTGRES_DB: mailbox
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    ports:
      - "5435:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
